MONGO_URI=mongodb://localhost:27017
MONGO_DB=qaas
JWT_SECRET=change-this-secret
JWT_EXPIRE_MINUTES=1440
BACKEND_PORT=8000
QUANTUM_SERVICE_URL=http://localhost:8001
FRONTEND_API_URL=http://localhost:8000
